:root {
    --secondary-color: hsl(209, 23%, 22%); /* Blue */
    --primary-color: hsl(207, 26%, 17%); /* Green */
    --tertiary-color: #e74c3c; /* Red */
    --quaternary-color: #f1c40f; /* Yellow */
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    background-color: var(--secondary-color);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    /* width: 90%; */
    
}

.search {
    display: flex;
    justify-content: space-between;
    height: 2.2rem;
    /* width: 90%; */
    padding: 35px;
}

#searchCountry {
    background-color: var(--secondary-color);
    color: rgba(255, 255, 255, 0.835);
    font-weight: 600;
    border: none;
    border-radius: 3px;
    position: relative;
}

#countryCards1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 20px;
    padding: 20px;
    color: white;
    margin-left: 3rem;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

.country {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    font-size: 0.8rem;
    gap: 0px;
    width: 15rem;
    height: 17rem;
}

.country p{
    padding-left: 10px;
    line-height: 0.8;
}

#filterMenu {
    background-color: var(--secondary-color);
    font-size: 0.8rem;
    color: white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
}

#filterMenu option{
    padding: 3px;
}

.img {
    object-fit: cover;
    width: 15rem;
    height: 70%;
}

#btn {
    width: 25px;
    height: 25px;
    border: none;
    padding: auto;
    background-color: var(--secondary-color);
    margin-top: 6px;
    position: absolute;
    /* top: 50%; */
    left: 13.5%;
}

#btn img{
    /* color: white; */
    height: 90%;
}

input[type="text"] {
    background-color: var(--secondary-color);
}





/* const btn = document.getElementById("btn");
btn.addEventListener('click', function() {    
    
})

// searchKey.addEventListener('input', () => {
//     const searchText = searchKey.value.toLowerCase();
//     console.log(searchText)
//     // Filter countries based on the search text
//     const filteredCountries = countries.filter(country =>
//         country.name.toLowerCase().includes(searchText)
//     );

//     // Display the filtered countries
//     displayCountries(filteredCountries);
// }); */
